[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.4.1"
mysqlclient = "==2.0.3"
pytz = "==2021.1"
sqlparse = "==0.4.2"
Django = "==3.2.6"
djangorestframework-simplejwt = "*"
django-dotenv = "*"
django-cors-headers = "*"

[dev-packages]
isort = "*"

[requires]
python_version = "3.9"
